.bg-container{
    background-color:rgb(137, 159, 123);
    height:100vh;
  }
  .top-container{
    background-color: rgb(7, 60, 35);
    color:white;
    padding:20px;
  }
  .nav-items{
    margin-left:200px;
    text-align:right;
  }
  .list-items{
    padding: 10px;
  }
  .content{
    color:#ffffff;
    font-size:50px;
    font-family: Bree serif;
    padding:20px;
  }
  .message{
    margin:100px;
  }
  .name{
    color:rgb(2, 32, 16);
  }
  .image{
    margin-left:10px;
    height:68vh;
    width: 50vh;
  }
  .user-input{
    background-color: rgb(7, 54, 23);
    color:rgb(123, 181, 136);
    border:none;
    outline: none;
  }
  .read-btn{
    border-style: solid;
    border-color:white;
    background-color: transparent;
  }
  
  .bg-container-2{
    background-color: rgb(87, 141, 98);
  }
  .bg-container-4{
    background-color: gray;
    height:100vh;
    padding:20px;
    text-align: center;
    color:white;
  }
  .skills-head{
    margin-top:100px;
    margin-bottom:60px;
  }
  .skill-btn{
    font-weight: bold;
  }
  .mail{
    height:5vh;
    margin:20px;
    margin:20px;
  }
  
  
  
  .bg-container-3{
    background-color:rgb(137, 159, 123);
    text-align: center;
    color:white;
    height:100vh;
    padding:20px;
  }
  .service-head{
    margin-top:60px;
  }
  .services{
    margin-left:200px;
  }
  .service{
    padding:30px;
    background-color: rgb(87, 141, 98);
    color:white;
    margin:20px;
  }


  
.bg-container-5{
    background-color: rgb(87, 141, 98);
    height:100vh;
    padding:200px;
    color: #ffffff;
}
.inputs{
    background-color: rgb(83, 84, 92);
    color:rgb(141, 148, 195);
    width:50vw;
    color:white;
}